@model IEnumerable<PersonelBlogSite.Models.Blog>

@using Microsoft.AspNetCore.Http
@{
    int? id = Context.Session.GetInt32("id");
}

<header class="masthead" style="background-image: url('img/img2.jpg') ">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Don’t expect success unless you step of your comfort zone.</h1>
                    <h2 class="subheading">Believe YourSelf</h2>
                    <span class="meta">
                        Created by
                        Samet Bayraktar
                        03.07.2023
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

    
    <button type="button" id="route" class="btn btn-primary" >Blog Ekle</button>

    <br />


    <div class="container">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">

                @foreach (var item in Model)
                {

                    <div class="post-preview">
                        <a asp-action="Post" asp-route-id="@item.Id">
                            <h2 class="post-title">
                                @item.Title
                            </h2>
                            <h3 class="post-subtitle">
                                @item.Subtitle
                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            @item.Author.Name
                            @item.dateTime ' da yayınlandı
                        </p>
                    </div>





                }

                <div class="col-md-10 col-lg-8 col-xl-7">

                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>

    </div>

<style>
    #route {
        position: relative;
        left: 17%;
        transform: translateX(17%);
    }
</style>


<script>
    document.getElementById('route').addEventListener('click', function () {
        window.location.href = '/Home/addBlog'

    })
</script>

